# Configuration de l'Application
PORT=3000
BASE_URL=http://localhost:3000

# Configuration Ory Hydra Admin
HYDRA_ADMIN_URL=http://localhost:4445
# Only used in paid version of Ory Hydra
ORY_API_KEY=YOUR_API_KEY

# Configuration LDAP
LDAP_URL=ldap://localhost:389
LDAP_USER_DN_PATTERN=uid={username},ou=users,dc=domaine,dc=fr
WEBMAIL_DOMAIN_WP=https://webmail.domain.fr
CRYPTPAD_DOMAIN_WP=https://cryptpad.domain.fr
CORE_API_URL=https://core.domain.fr
CORE_API_INTERNAL_SECRET=SuperSecretKey
# Use the /conf endpoint to get a valid OPAQUE_SERVER_SETUP value
OPAQUE_SERVER_SETUP='bad_value'