# Configuration de l'Application
PORT=3000
BASE_URL=http://localhost:3000

# Configuration Ory Hydra Admin
HYDRA_ADMIN_URL=http://localhost:4445
ORY_API_KEY=YOUR_API_KEY

# Configuration LDAP
LDAP_URL=ldap://localhost:389
LDAP_USER_DN_PATTERN=uid={username},ou=users,dc=domaine,dc=fr